{% extends 'base.html' %}
{% load static %}

{% block title %}Car Hub Market{% endblock %}

{% block content %}

<!-- HERO IMAGE -->
<div class="container">
    <div class="d-flex justify-content-center my-4 hero-car">
        <img src="{% static 'images/homeCar.png' %}" class="img-fluid" alt="Car Hub">
    </div>
</div>

<!-- SECTION TITLE -->
<h5 class="text-center mt-4 fw-bold">Get Offers on Popular Cars</h5>

<!-- CAROUSEL -->
<div class="carousel-container my-4">

    <button class="carousel-nav left" onclick="scrollCarousel(-1)">&#8249;</button>

    <div class="carousel-track" id="carCarousel">

        <a href="#" class="text-decoration-none text-dark">
            <div class="carousel-card">
                <img src="{% static 'images/Tata_Punch.webp' %}">
                <h6>Tata Punch</h6>
                <div class="price">Rs. 6.20 - 12.52 Lakh</div>
                <span class="link">Check On Road Price</span>
            </div>
        </a>

        <a href="#" class="text-decoration-none text-dark">
            <div class="carousel-card">
                <img src="{% static 'images/curvv.avif' %}">
                <h6>Tata Curvv</h6>
                <div class="price">Rs. 10.00 - 19.52 Lakh</div>
                <span class="link">Check On Road Price</span>
            </div>
        </a>

        <a href="#" class="text-decoration-none text-dark">
            <div class="carousel-card">
                <img src="{% static 'images/nexon-ev.avif' %}">
                <h6>Tata Nexon EV</h6>
                <div class="price">Rs. 12.49 - 17.19 Lakh</div>
                <span class="link">Check On Road Price</span>
            </div>
        </a>

        <a href="#" class="text-decoration-none text-dark">
            <div class="carousel-card">
                <img src="{% static 'images/Harrier.avif' %}">
                <h6>Tata Harrier</h6>
                <div class="price">Rs. 15.00 - 26.69 Lakh</div>
                <span class="link">Check On Road Price</span>
            </div>
        </a>

        <a href="#" class="text-decoration-none text-dark">
            <div class="carousel-card">
                <img src="{% static 'images/safari.avif' %}">
                <h6>Tata Safari</h6>
                <div class="price">Rs. 15.50 - 27.44 Lakh</div>
                <span class="link">Check On Road Price</span>
            </div>
        </a>

    </div>

    <button class="carousel-nav right" onclick="scrollCarousel(1)">&#8250;</button>
</div>

{% endblock %}
