{% extends 'base.html' %}
{% load static %}

{% block title %}Car Hub Market{% endblock %}

{% block content %}

<!-- HERO IMAGE -->
<div class="container">
    <div class="d-flex justify-content-center my-4 hero-car">
        <img src="{% static 'images/homeCar.png' %}" class="img-fluid" alt="Car Hub">
    </div>
</div>

<!-- SECTION TITLE -->
<h5 class="text-center mt-4 fw-bold">Get Offers on Popular Cars</h5>

<!-- CAROUSEL -->
<div class="carousel-container my-4">

    <button class="carousel-nav left" onclick="scrollCarousel(-1)">&#8249;</button>

    <div class="carousel-track" id="carCarousel">

        {% for car in cars %}
        <a href="{% url 'car_detail' car.id %}" class="text-decoration-none text-dark">
            <div class="carousel-card">

                {% if car.image %}
                    <img src="{{ car.image.url }}" alt="{{ car.name }}">
                {% else %}
                    <img src="{% static 'images/no-car.png' %}" alt="No Image">
                {% endif %}

                <h6>{{ car.name }}</h6>
                <div class="price">₹ {{ car.price }}</div>
                <span class="link">Check On Road Price</span>

            </div>
        </a>
        {% empty %}
        <p class="text-muted text-center w-100">
            No cars available right now
        </p>
        {% endfor %}

    </div>

    <button class="carousel-nav right" onclick="scrollCarousel(1)">&#8250;</button>
</div>

{% endblock %}
